<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="WcfServiceLibrary.Service1">
                <endpoint address="net.tcp://localhost/service" binding="netTcpBinding"
                    bindingConfiguration="" name="MonService" contract="WcfServiceLibrary.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="http://localhost:8888/monService/mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
           
            </service>
        </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="http://localhost:8888/monService/mex/wsdl"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>