<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="MexServiceHostApp.ServiceReference1.Service1Client">
                <endpoint address="net.tcp://localhost/monServiceMex" binding="mexHttpBinding"
                    bindingConfiguration="" name="monServiceMex" contract="ServiceReference1.IService1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>